* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001d3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #a9d6e5;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  color: #001d3d;
  margin-left: 5%;
  width: 20%;
  font-size: 22px;
  cursor: pointer;
}

.nav .navlinks {
  width: 50%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}

.nav .navlinks a {
  text-decoration: none;
  font-size: 18px;
  color: #001d3d;
}

.container {
  border: 2px solid white;
  border-radius: 5px;
  width: 500px;
  margin-top: 30px;
}

.container h1 {
  color: #fff;
  font-size: 24px;
  margin: 15px;
  text-align: center;
}

.container input {
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 10px;
  margin-left: 5%;
  width: 38%;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

#add {
  text-align: center;
  color: #001d3d;
  font-weight: bolder;
  font-size: 16px;
  padding: 10px 30px;
  background-color: #a9d6e5;
  border: 1px solid #a9d6e5;
  border-radius: 130px;
  margin: 15px 40%;
  cursor: pointer;
}

#add:hover {
  background-color: #89c2d9;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.heading {
  background-color: #014f86;
}

.heading-tr {
  padding-top: 15px;
}

tr {
  border-bottom: 1px solid #fff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

td {
  width: 25%;
  padding-top: 8px;
}

.hide {
  display: none;
}

.fa-pen-to-square {
  color: #fff;
  background-color: #008000;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.fa-trash {
  color: #fff;
  background-color: #f00;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.contact {
  width: 70%;
  height: 80vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.contact .form {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.contact input {
  background: transparent;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
}

.contact textarea {
  height: 150px;
  background-color: transparent;
  padding: 15px;
  color: #fff;
  outline: none;
}

.contact button {
  background-color: #89c2d9;
  color: #001d3d;
  cursor: pointer;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bolder;
  border: 2px solid #89c2d9;
}

.contact .contact-text {
  width: 45%;
  border-left: 2px solid #fff;
  padding-top: 10%;
  padding-left: 50px;
  color: #fff;
  letter-spacing: 1px;
}
