* {
  margin: 0;
  padding: 0;
}

.calculator {
  overflow: hidden;
  width: 330px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 15%);
  border-radius: 8px;
}

#inputField {
  width: 100%;
  overflow: hidden;
  font-size: 34px;
  height: 80px;
  background-color: #343a40;
  color: #fff;
  font-weight: bolder;
  outline: none;
  border: none;
  text-align: right;
}

.button {
  display: grid;
  margin: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.inputText {
  cursor: pointer;
  margin: 5px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 30%);
  color: #fff;
}

.inputText:hover {
  background-color: hsl(0, 0%, 40%);
}

.inputText:active {
  background-color: hsl(0, 0%, 30%);
}

.operator {
  background-color: hsl(39, 100%, 50%);
}

.operator:hover {
  background-color: hsl(39, 100%, 60%);
}

.operator:active {
  background-color: hsl(39, 100%, 50%);
}

@media screen and (min-width: 200px) and (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
  }

  .calculator {
    overflow: hidden;
    width: 270px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 15%);
    border-radius: 8px;
  }

  #inputField {
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    height: 80px;
    background-color: #343a40;
    color: #fff;
    font-weight: bolder;
    outline: none;
    border: none;
    text-align: right;
  }

  .button {
    display: grid;
    margin: 8px;
    grid-template-columns: repeat(4, 1fr);
  }

  .inputText {
    cursor: pointer;
    margin: 5px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    display: flex;
    font-size: 40px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
  }

  .inputText:hover {
    background-color: hsl(0, 0%, 40%);
  }

  .inputText:active {
    background-color: hsl(0, 0%, 30%);
  }

  .operator {
    background-color: hsl(39, 100%, 50%);
  }

  .operator:hover {
    background-color: hsl(39, 100%, 60%);
  }

  .operator:active {
    background-color: hsl(39, 100%, 50%);
  }
}
